header#main-header {
    width: 100%;
    padding: 10px 5px;
    height: 60px;
    background: #472fa7;
    font-size: 35px;
    font-family: sans-serif;
    font-weight: bold;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
